# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = false
[*.cs]

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = suggestion

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = suggestion

# IDE0053: Use expression body for lambda expression
dotnet_diagnostic.IDE0053.severity = suggestion

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = silent
